
h1, h2, hr {
    z-index: 100;
    position: relative;
}

.plot {
    display: inline-block;
    min-width: 300px;
    width: 50%;
}

.plot > div {
    height: 445px;
    text-align: center;
}

.plot .fa-circle-notch {
    font-size: 4em;
    margin-top: 100px;
}