body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    color: white;
    background: #1e6941;
    border-bottom: #27ac78a3;
    margin-bottom: 40px;
    box-shadow: 0 3px 5px #27ac78a3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header h1 {
    display: inline-block;
    vertical-align: sub;
    border-right: 1px solid #27ac78a3;
    padding: 10px 20px;
}
header form {
    display: inline-block;
    margin-left: 20px;
    vertical-align: text-bottom;
}
header form * {
    vertical-align: middle;
}

h1, h2, hr {
    z-index: 100;
    position: relative;
    margin: 0;
}

#plots {
    margin-top: 100px;
}

.plot {
    display: inline-block;
    min-width: 300px;
    width: 50%;
}

.plot > div {
    height: 445px;
    text-align: center;
}

.plot .fa-circle-notch {
    font-size: 4em;
    margin-top: 100px;
}