<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Velocity Stats</title>
    <meta charset="UTF-8">
    <link href="main.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/36321d34e2.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1><i class="fi-xwluxl-analytics-wide"></i> Velocity stats</h1><!--
 --><a href="/">Stats</a><!--
 --><form method="get" id="analysis-form">
        <label for="period">Analysis period</label>
        <select id="period" name="period">
            <option value="1" th:selected="${period == 1}">Last month</option>
            <option value="3" th:selected="${period == 3}">Last three months</option>
            <option value="6" th:selected="${period == 6}">Last six months</option>
            <option value="12" th:selected="${period == 12}">Last year</option>
        </select>
        <button type="submit">Refresh</button>
    </form>
</header>
<section id="container">
    <h2><strong>Stories per month: </strong><span th:text="${meanStories}">2</span></h2>
    <p id="this-month" class="table-label">
        <span>
            This month
        </span>
    </p>
    <p id="next-month" class="table-label">
        <span>
            Next month
        </span>
    </p>
    <ul id="tickets">
        <li th:each="ticket, status: ${tickets}"
            th:title="${ticket.id} + ' - ' + ${ticket.title}">
            <i class="fi-xnsuxl-three-bars-solid"></i> <span th:text="${ticket.id} + ' - ' + ${ticket.title}"></span>
        </li>
    </ul>
</section>
<script defer src="https://friconix.com/cdn/friconix.js"> </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="sortable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script src="projection.js"></script>
</body>
</html>

